   .footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    position:fixed;
    width: 200wh;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }