  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    animation: fadeIn 2s ease-in;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  } 
  
  
  .profile-card {
    background-color: #2b2a2ae1;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .profile-title {
    font-size: 32px;
    color: #fad98a;
    margin-bottom: 20px;
  }
  
  .profile-details p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
  }
  
  .profile-details strong {
    color: #fff;
  }
  
  .profile-card p {
    margin: 10px 0;
  }
    
  .profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: whitesmoke;
  }
  
  .profile p {
    font-size: 16px;
    color: wheat;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .clock {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    animation: fadeInClock 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInClock {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes clockEffect {
    0% {
      color: #f39c12;
    }
    25% {
      color: #e74c3c;
    }
    50% {
      color: #3498db;
    }
    75% {
      color: #2ecc71;
    }
    100% {
      color: #9b59b6;
    }
  }
  
  .clock {
    animation: clockEffect 5s infinite alternate;
  }

  .profile-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }

  .order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .item-name {
    flex-grow: 1;
    text-align: left;
  }
  
  .item-price {
    flex-shrink: 0;
    width: 100px; /* Adjust width as needed to align prices vertically */
    text-align: right;
  }
  
  .total-amount-containerp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    width: 100%; /* Ensure full width to align with item prices */
    text-align: right;
  }
   
  .total-amount-labelp {
    flex-grow: 1;
    text-align: right; /* Ensure label aligns with other text */
    margin-right: 10px; /* Adjust as needed for spacing */
  }
 
  